@import '../../../src/styles/theme.module.scss';

.root {
}
.box-container {
    text-align: center;
}
.box {
    text-align: center;
    background-color: #7b1616;
}
.box1 {
}
.heading {
    color: #000000;
}
.button {
    color: #0b010b;
}
.box2 {
    background-color: #d732d7;
}
.stack {
    font-family: Impact, sans-serif;
    color: #291ea5;
}
